* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info {
    width: 70%;
    margin: 5rem auto;
    gap: 1rem;
}

img {
    padding: 5px;
}

p {
    text-align: center;
}

h4 {
    text-align: center;
}